@media (max-width: 576px), (max-width: 768px) and (orientation: landscape), (max-width: 1200px), (min-width: 1200px) {
  body {
    width: auto;
    letter-spacing: 1px;
    text-align: center;
    display: grid; }
  .sobreMi {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center; }
  .sobreMi1, .sobreMi2 {
    padding: 1rem;
    width: 100%; } }

body {
  background-color: #f7fac6; }

#servicios {
  background-color: #c9f396; }

.contactos, .servicios {
  font-family: "Lobster Two", cursive;
  color: #B3C648; }

h2 {
  display: flex;
  justify-content: center;
  font-family: "Lobster Two", cursive;
  color: #B3C648;
  font-size: xxx-large; }

/*SECCION NAVEGACION-INICIO*/
#navegacion {
  background-color: #f7fac6; }

.navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.logo {
  display: flex;
  justify-content: center;
  background-color: #ffffff; }

.navegacion__navs {
  font-family: "Lobster Two", cursive;
  color: #B3C648;
  font-size: x-large;
  align-items: center; }

p {
  font-family: "Raleway", sans-serif;
  font-weight: bold; }

/*SECCION SOBRE MI*/
#sobreMi {
  background-color: #eaf09f;
  margin-bottom: 1rem; }

.carta {
  background-color: #ffffff;
  width: auto;
  display: flex;
  flex-direction: column;
  border: 0.5rem #f18a8a solid;
  border-radius: 30%;
  padding: 2em; }

.header__carta {
  height: 30%;
  text-align: center; }

.carta__contenedor {
  padding: 1em 5rem; }

h2 {
  display: flex;
  justify-content: center;
  font-family: "Lobster Two", cursive;
  color: #B3C648;
  font-size: xxx-large; }

h5 {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: bold;
  text-decoration: underline; }

.sobreMi2 {
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 35px; }

.img1, .img2 {
  box-shadow: 2px 12px 15px 0 rgba(0, 0, 0, 0.2), 2px 12px 30px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30%; }

.img1 {
  width: 780px;
  height: 520px; }

.img2 {
  width: 880px;
  height: 520px; }

.sobreMi__titulo {
  font-family: "Lobster Two", cursive;
  color: #B3C648;
  padding-top: 1rem; }

/*SECCION PORTFOLIO*/
#porfolio {
  background-color: #c9f396;
  margin-bottom: 1rem; }

.container {
  height: auto;
  width: 480px; }

/*SECCION SERVICIOS*/
#servicios {
  background-color: #a0f8b8; }

.card__title {
  margin: 5px 5px 5px 5px;
  font-family: "Lobster Two", cursive;
  color: #B3C648;
  font-size: large; }

.servicios__text {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: bold;
  text-align: center; }

.container__servicios {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto; }

.container__servicios .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s; }

.container__servicios .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.container__servicios .card img {
  width: 120px;
  margin-left: 105px;
  padding: 1em; }

.container__servicios .card h4 {
  font-weight: 600; }

.container__servicios .card p {
  padding: 1em 5rem;
  font-size: 1.5em;
  font-weight: 300; }

.container__servicios .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db; }

.aclaracion {
  font-style: normal;
  font-weight: lighter;
  font-size: small; }

/*SECCION CONTACTO*/
.contactos {
  background-color: #97F7F5; }

.contactos__campos {
  color: black;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px; }

.contactos__titulo1 {
  font-family: "Lobster Two", cursive;
  color: #B3C648;
  display: flex;
  justify-content: center;
  font-size: xxx-large; }

.flex__contacto {
  display: flex;
  flex-direction: column; }

.contacto__1 {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 25px;
  margin: 1em; }

.consulta {
  width: 550px;
  height: 120px; }

.inputs {
  margin-right: 70px; }

.imgRedes {
  width: 80px;
  height: 80px;
  margin-right: 95px;
  margin-left: 40px;
  margin-bottom: 20px; }

.contacto__link {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 30px; }
